@import '../../scss/config.scss';

.container {
    min-height: 100vh;
    @include flex(space-around);

    // border-bottom: $default-border;

    .content {
        text-align: center;
    }
}

@media (min-width: 900px) {
    .container.notreversed {
        flex-direction: row;

        .content {
            margin-right: 50px;
            text-align: right;

            > .description {
                text-align: right;
            }
        }
    }

    .container.reversed {
        flex-direction: row-reverse;

        .content {
            margin-left: 50px;
            text-align: left;

            > .description {
                text-align: left;
            }
        }
    }
}
